{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
</head>
<body>
    <h1>Acerca de Nosotros</h1>
    <p>Bienvenido/a a nuestra página "Acerca de". Aquí encontrarás información sobre quiénes somos y qué hacemos.</p>

    <h2>Nuestra Misión</h2>
    <p>Nuestra mision para con este proyecto era adentrarnos en el campo de la programacion, nos encanto python ya que nos parecio muy util y facil de aprender!</p>

   
    <h2>Nuestro Equipo</h2>
    <div class="author-info">
        <h3>José Ignacio Aguilera</h3>
        <p>Alumno</p>
        
        <h3>Gastón Villanueva</h3>
        <p>Alumno</p>
    </div>
    <!-- Puedes repetir el bloque anterior para cada miembro del equipo. -->

    <h2>Contacto</h2>
    <p>Si deseas ponerte en contacto con nosotros, envíanos un correo electrónico a <a href="mailto:nacho_585@hotmail.com">nacho_585@hotmail.com</a>.</p> 
    <p>o a</p>
    <a href="mailto:gastonvillanueva@gmail.com">gastonvillanueva@gmail.com</a>
</body>
</html>

{% endblock %}