{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Sensores</title>
</head>
<body>
    <center>
    <h1 class="mb-5">Sensores de Shampoo</h1>
    <ul>
        {% for sensor in sensores %}
        <li>{{ sensor.nombre }} - {{ sensor.nivel }}</li>
        <button>
            <a href="{% url 'EliminarSensor' sensor.nombre %}"> Eliminar</a>
            <a href="{% url 'EditarSensor' sensor.nombre %}"> Editar</a>
        </button>
        {% endfor %}
    </ul>
    </center>
</body>
</html>

{% endblock %}
