{% extends 'AppCoder/padre.html' %}

{% load static %}
{% block contenidoQueCambia %}

<!DOCTYPE html>
<html>
<head>
    <title>Listado de Usuarios</title>
</head>
<body>
    <center>
    <h1 class="mb-5">Usuarios cargados</h1>
    <ul>
        {% for usuario in usuarios %}
        <li>{{ usuario.nombre }} - {{ usuario.apellido }} - {{ usuario.email }}</li>
        <button>
            <a href="{% url 'EliminarUsuario' usuario.nombre %}"> Eliminar</a>
            <a href="{% url 'EditarUsuario' usuario.nombre %}"> Editar</a>
        </button>
        {% endfor %}
    </ul>
    </center>
</body>
</html>


{% endblock %}
